<br>
<div class="container">
    <div class="row" *ngIf="authService.isAdmin()">
        <div class="col-sm">
            <div class="float-right">
                <button type="button" class="btn btn-primary waves-light" data-toggle="modal" data-target="#exampleModalLong">
                  Add Files
                </button>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="authService.isAdmin()">
        <div class="col-sm">
            <div class="float-right">
                <button type="button" class="btn btn-green waves-light" data-toggle="modal" data-target="#exampleModalLang">
                  Add Team
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="float-right">
                <button type="button" class="btn btn-success waves-light" data-toggle="modal" data-target="#editProject">
          Edit Project
        </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="project-image">
                <div class="view hm-zoom z-depth-2" style="cursor: pointer">
                    <!-- <img [src]="project.projectImageUrl" [alt]="project.projectName" width="100%" class="img-fluid rounded"> -->
                </div>
                <div class="" style="margin-top:15px">
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Start Date:</h6>
                            </div>
                            <span class="text-muted" style="color:crimson !important">{{startDate}}</span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">DeadLine</h6>
                                <br>
                            </div>
                            <span class="text-muted" style="color:crimson !important">{{deadLine}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="project-detail">
                <h5 class="project-head">Project Details</h5>
                <table class="table" cellspacing="0" style="max-height: 28px">
                    <tbody>
                        <tr>
                            <th scope="row">Project Name</th>
                            <td>{{project.projectName}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Project Category</th>
                            <td>{{project.category}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Project ID</th>
                            <td>{{project.projectID}}</td>
                        </tr>


                        <!-- <tr>
              <th scope="row">Project Category</th>
              <td>{{project.projectCategory}}</td>
            </tr>
            <tr>
              <th scope="row">No. of quantity available</th>
              <td>{{project.projectQuatity}}</td>
            </tr>
            <tr>
              <th scope="row">Project Added on</th>
              <td>{{project.projectAdded * 1000 | date}}</td>
            </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- List of Lessons -->
    <div class="col-sm-4">
    </div>
    <!-- <div class="col-sm-4">
    </div> -->

    <div>
        <div class="product-detail">
            <h5 class="product-head">Project Files</h5>
            <table class="table table-striped">
                <tbody>
                    <thead>
                        <tr>
                            <th scope="col">Link File</th>
                        </tr>
                    </thead>
                    <tr *ngFor="let file of project.files">
                        <a href="{{file}}">
                            <th scope="row">Files: {{file}}</th>
                        </a>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <div class="product-detail">
            <h5 class="product-head">Project Teams</h5>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Team Name</th>
                    <th scope="col">Team Description</th>
                    <th scope="col">Team Specialty</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let team of teams">
                    <th scope="col">{{team.name}}</th>
                    <th scope="col">{{team.description}}</th>
                    <th scope="col">{{team.specialty}}</th>
                </tr>
            </tbody>
        </table>
        <div class="product-detail">
            <h5 class="product-head">Lista de Actividades</h5>
        </div>
    </div>
    <!-- <div class="col-sm-8">
      
    </div> -->
</div>
<div class="float-right">
    <button type="button" class="btn btn-purple waves-light" data-toggle="modal" data-target="#exampleModalLeng">
      Add Task
    </button>
</div>
<br>
<br>
<app-add-storage [key]=key></app-add-storage>
<app-add-team [key]=key></app-add-team>
<app-task-board [key]=key></app-task-board>
<app-add-task [key]=key></app-add-task>
<app-edit-project [key]=key [id]=id></app-edit-project>