<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" #addProjectForm="ngForm" (ngSubmit)="createProject(addProjectForm)">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="projectName">Project Name</label>
                            <input type="text" class="form-control" id="projectName" name="projectName" [(ngModel)]="project.projectName" placeholder="Project Name" value="" required>
                            <div class="invalid-feedback">
                                Valid project name is requiered.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="category">Project Category</label>
                            <!-- <input type="text" class="form-control" id="category" name="category" [(ngModel)]="project.category" placeholder="Project Category" value="" required>
                            <div class="invalid-feedback">
                                Valid category is required.
                            </div> -->
                            <select name="category" id="category" [(ngModel)]="project.category">
                                <option value ="Categoria">Nothing</option>
                                <option value ="Programación">Programación</option>
                                <option value ="Test">Test</option>
                                <option value ="Algoritmos">Algoritmos</option>
                            </select>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="startDate">Start Date</label>
                            <input type="date" class="form-control" id="startDate" name="startDate" [(ngModel)]="project.startDate" placeholder="Project Start Date" value="" required>
                            <div class="invalid-feedback">
                                Valid Start Date is required.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="deadLine">Project Deadline</label>
                            <input type="date" class="form-control" id="deadLine" name="deadLine" [(ngModel)]="project.deadLine" placeholder="Project Deadline" value="" required>
                            <div class="invalid-feedback">
                                Valid DeadLine is required.
                            </div>
                        </div>
                    </div>

                    <!--                     <div class="mb-3">
                        <label for="projectDescription">Project Description
                        <span class="text-muted">(Optional)</span>
                      </label>
                        <textarea type="text" class="form-control" id="projectDescription" placeholder="Project Description" name="projectDescription" [(ngModel)]="project.projectDescription"></textarea>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="projectPrice">Project Price</label>
                            <input type="number" name="projectPrice" class="form-control" [(ngModel)]="project.projectPrice" placeholder="Project Price" id="projectPrice" value="" required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="projectQuatity">Project Quantity</label>
                            <input type="text" class="form-control" id="projectQuatity" name="projectQuatity" [(ngModel)]="project.projectQuatity" placeholder="Project Quantity" value="" required>
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="projectSeller">Project Seller</label>
                        <input type="text" class="form-control" id="projectSeller" [(ngModel)]="project.projectSeller" name="projectSeller" placeholder="Project Seller" required>
                    </div>
                    <div class="mb-3">
                        <label for="projectImageUrl">Project Image</label>
                        <input type="text" class="form-control" id="projectImageUrl" [(ngModel)]="project.projectImageUrl" name="projectImageUrl" placeholder="Image Url" required>
                    </div>

                    <hr class="mb-4"> -->

                    <button class="btn btn-primary btn-lg btn-block" type="submit">Add Project</button>
                </form>
            </div>
        </div>
    </div>
</div>